html{
    min-height:100%;
    position:relative;
}

.header {
    display: -webkit-flex;
    display: flex;
}

.header {
    justify-content: space-between;
}

.header {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #005eb7;

}

.logo-icon {
    padding-left: 10px;
    height: 20px;
    width: auto;
}

.logo {
    color: white;
    font-size: 20px;
    flex-grow: 2;
    margin: 0;
    padding-left: 1%;
}

/******************************
Navi Styling
*******************************/

.navi {
    list-style: none;
    padding-right: -1%;
    /*flex: 1;*/
    justify-content: flex-end;
}


.navi li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 10px;
}

.navi li a:hover {
    color: #000;
}

.navi > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.navi li:last-child a {
    background: #eee;
    border-radius: 2px;
    transition: 200ms ease-in-out;
    padding: 8px 16px 7px;
}

.navi li:last-child a:hover {
    background: rgba(200, 200, 200, .5);
    color: #000;
}



/******************************
Body Styling
*******************************/
body {
    background-color: #F8F8F8;
    margin: 0;
}

.left-panel {
    display: flex;
    width: 15%;
    height: 100%;
    position:absolute;
    background: white;
    float: left;

}

.body-release {
    text-align: center;
    display: flex;
    width: 75%;
    height: 100%;
    float: right;
}

.release-panel {
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.plus-button {
    padding-left: 10px;
    height: 20px;
    width: auto;
}

.top3 {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    height: 100%;
    text-align: center;
}

.top3releases {
    position: absolute;
    top: 400px;
    right: 20px;
    width: 200px;
    height: 200px;
    /*border: solid 1px black;*/
    box-sizing: border-box;
    border-radius: 8px;

    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}

.top3apps {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    height: 200px;
    /*border: solid 1px black;*/
    box-sizing: border-box;
    border-radius: 8px;

    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}

.popular-ul {
    text-align: left;
    list-style: none;

}

.news {
    position: absolute;
    top: 80px;
    left: 400px;
}

.font {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}




/******************************
Buttons Styling
*******************************/

.btn {
    background: white!important;
    color: #0f0f0f;
    width: 100%;
    border-radius: 2px;
}

.btn-login {
    border-radius: 3px;
}


.btn:hover {
    background: gainsboro!important;
    color: #0f0f0f;
}

.btn-add:active {
    background: #005eb7!important;
    color: white;
}

.btn-search:active {
    background: #005eb7!important;
    color: white;

}

.btn:focus {
    background: #005eb7!important;
}

.btn:focus:hover {
    color: white;
}

