{% extends 'base.html.twig' %}


{% block body %}



    <table class="table-home">
            <tr>
                <th>Releases</th>
                <th>Description</th>
                <th>Application Id</th>
            </tr>

            {% for release in releases %}
            <tr>
                <td>{{ release.nameRelease }}</td>
                <td>{{ release.descriptionRelease }}</td>
                <td>{{ application_name }}</td>
            </tr>
            {% endfor %}

    </table>



{% endblock %}
