{% extends 'base.html.twig' %}

{% block body %}

<div class="left-panel">
    <ul class="release-panel">
        <li> <button type="button" class="btn btn-primary btn-add"> Add Release </button></li>
        <li><button type="button" class="btn btn-primary btn-search">Search Release</button></li>
    </ul>
</div>

{% endblock %}
