{% extends 'home/show.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Add a new release</h1>

                {{ include('release/_formRelease.html.twig') }}



                    {#<a href="{{ path('release_saved') }}"><button type="button" class="btn btn-primary btn-add"> Great Job! Save </button></a>#}

            </div>
        </div>
    </div>


{% endblock %}